@font-face {
  font-family: "BYekan";
  src: url("/fonts/BYekan/BYekan.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "BYekan";
  src: url("/fonts/BYekan/BYekanBold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

:root {
  font-family: BYekan, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100dvh;
  width: 100dvw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

/* html[dir="rtl"] .MuiFormControl-root {
  text-align: right;
} */
